
.address {
    justify-content: left;
    line-height: 1.4;
}

.address>div>span {
    font-weight: 800;
    margin-left: 5px;
}

.address>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}